img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* header styles */

.title {
  margin: 64px 15px 50px 15px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  color: #4e5150;
}

/* section styles */

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* forms styles */

.section__forms {
  flex: 0 0 45%;
  margin-right: 15px;
}

.section__items {
  flex: 0 0 30%;
}

.section__forms form input,
select,
label {
  display: flex;
}

.forms__title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 1.125rem;
  margin: 0 15px 15px 15px;
}

.forms__label {
  margin: 0 15px 7px 15px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #4f4f4f;
  font-size: 0.75rem;
}

.forms__input {
  border-radius: 12px;
  border: 1px solid #828282;
  outline: none;
  background: no-repeat;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #333333;
  width: 80%;
  padding: 15px;
  padding-left: 45px;
  margin: 0px 15px 20px 15px;
}

#email {
  background: url(../img/email.svg) no-repeat;
  background-position: 14px center;
}

#phone {
  background: url(../img/phone.svg) no-repeat;
  background-position: 14px center;
  margin-bottom: 60px;
}

#name {
  background: url(../img/name.svg) no-repeat;
  background-position: 14px center;
}

#address {
  background: url(../img/address.svg) no-repeat;
  background-position: 14px center;
}

#city {
  background: url(../img/city.svg) no-repeat;
  background-position: 14px center;
}

#country {
  background: url(../img/country.svg) no-repeat;
  background-position: 14px center;
}

#postalcode {
  background: url(../img/postalcode.svg) no-repeat;
  background-position: 14px center;
}

.section__forms__last__info {
  display: flex;
  width: 98%;
}

.last__info__country {
  flex: 1;
}

.last__info__postalcode {
  flex: 1;
}

.last__info__country select {
  width: calc(100% - 30px);
}

.last__info__postalcode input {
  width: 65%;
}

.savebutton {
  display: flex;
  margin: 0 15px 0 15px;
}

.savebutton label {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: #4f4f4f;
  align-items: center;
  margin-left: 10px;
}

.savebutton input {
  transform: scale(1.5);
}

.continuebutton {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  border-radius: 12px;
  background: #f2994a;
  border: none;
  cursor: pointer;
  padding: 15px 45px 15px 45px;
  /* margin-left: 39.5%; */
  margin-top: 24px;
  margin-left: 15px;
}

.continuebutton:hover {
  background-color: #f27b13;
}

/* Items styles */

.section__items {
  background: #f2f2f2;
  border-radius: 12px;
  margin-right: 15px;
  padding: 30px;
}

.items__child {
  display: flex;
}

.items__child:nth-of-type(2) {
  margin-top: 35px;
  margin-bottom: 95px;
}

.items__child img {
  max-width: 150px;
  border-radius: 13px;
}

.items__child p {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #4e5150;
  margin: 0 20px 10px 20px;
}

.items__child span {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  display: inline;
}

.items__child span:nth-of-type(1) {
  color: #f2994a;
  font-size: 1rem;
  margin-left: 20px;
}

.items__child span:nth-of-type(2) {
  color: #4e5150;
  font-size: 0.75rem;
  margin-left: 5px;
  text-decoration-line: line-through;
}

.items__child__qtd {
  border: 1px solid #828282;
  border-radius: 12px;
  margin: 25px 20px 0 20px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.items__child__qtd p {
  color: #828282;
  margin: 0 15px 0 15px;
}

.items__child__qtd p:nth-of-type(2n + 1) {
  background: #e0e0e0;
  padding: 5px;
  cursor: pointer;
}

.items__child__info {
  border-top: 1px solid #bdbdbd;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #333333;
  display: flex;
  justify-content: space-between;
}

.items__child__info p,
span {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer span {
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-size: 0.875rem;
  color: #b9bdcf;
  padding: 20px;
  margin-top: 160px;
}
